---
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import Container from "@components/Container.astro"
import TeamVote from "@components/TeamVote"
---

<PageLayout title="Team vote" description="Rank the team candidates">
  <TopLayout>
    <div class="animate">
      <h1 class="text-3xl font-semibold text-black dark:text-white mt-2">
        Team vote
      </h1>
      <div class="mt-1">Pick and order your top 10 teams. One vote per person.</div>
    </div>
  </TopLayout>
  <div class="flex-1 py-5">
    <Container size="2xl">
      <div class="animate">
        <TeamVote client:only="solid-js" />
      </div>
    </Container>
  </div>
</PageLayout>
