---
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import TeamVote from "@components/TeamVote"
---

<PageLayout title="Team vote" description="Rank the team candidates">
  <TopLayout>
    <div class="animate">
      <h1 class="text-3xl font-semibold text-black dark:text-white mt-2">
        Team vote
      </h1>
      <div class="mt-1">Pick and order your top 10 teams. One vote per person.</div>
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <TeamVote client:only="solid-js" />
    </div>
  </BottomLayout>
</PageLayout>
